<%- include('partials/header') -%>
  <div class="container" style="padding-bottom: 40px">

    <div class="row justify-content-center mt-5">

      <div class="card w-96 bg-base-100 shadow-xl" style="width: 50%; padding: 10px;">
        <figure> <img class="img-fluid" src="<%= post.image%>" /></figure>
        <div class="card-body">
          <h2 class="card-title">
            <%= post.title %>
          </h2>
          <h2> Owned by: <%= post.userName %></h2>
          <%if(post.desc){ %>
            <p>Description: <%= post.desc %>
            </p>
            <%}%>
              <%if(post.price){ %>
                <p>Price: $<%= post.price %>
                </p>
                <%}%>
                  <%if(post.askPrice){ %>
                    <p>Asking price: $<%= post.askPrice %>
                    </p>
                    <%}%>
                      <%if(post.notes){ %>
                        <p>Notes: <%= post.notes %>
                        </p>
                        <%}%>
                          <%if(post.purchaseDate){ %>
                            <p>Purchase Date: <%= post.purchaseDate %>
                            </p>
                            <%}%>
                              <%if(post.createdAt){ %>
                                <p>Created On: <%= post.createdAt.toString().slice(4,16) %>
                                </p>
                                <%}%>
        </div>

        <div class="flex items-center" style="display: flex; align-items: center; justify-content: center">
          <form class="" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
            <button class="btn btn-primary" type="submit">
              <%= post.likes %> LIKES
            </button>
          </form>

          <%if(post.user==user.id){ %>
            <form action="/post/editPost/<%= post.id %>?_method=GET" method="POST" class="">
              <button class="btn btn-primary" type="submit"> EDIT</button>
            </form>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="">
              <button class="btn btn-primary" type="submit">DELETE</button>
            </form>

        </div>
        <%}%>
      </div>

      <%if(post.user==user.id && data.results){ %>
        <div>
          <div class="card-body card bg-base-100  shadow-xl"
            style="margin: auto; width: 51%; border: 5px solid black, border-radius: 5px; margin-top: 20px; margin-bottom: 20px">
            <h2 class="card-title">Market Comparison</h2>
            <p>Based on scraping data from <%= data.results %> similar recently sold items:</p>

            <p>Similar products are selling at an average of $<%= data.average_price.toFixed(2) %>
            </p>
            <p>Similar products are selling at a median cost of $<%= data.median_price.toFixed(2) %>
            </p>
            <p>The minimum selling price was $<%= data.min_price.toFixed(2) %>
            </p>
            <p>The maximum selling price was $<%= data.max_price.toFixed(2) %>
            </p>


          </div>
        </div>
        <%}%>
          <%if(post.user==user.id && !data.results){ %>
            <div>
              <div class="card-body card bg-base-100  shadow-xl"
                style="margin: auto; width: 51%; border: 5px solid black, border-radius: 5px; margin-top: 20px; margin-bottom: 20px">
                <h2 class="card-title">Market Comparison</h2>
                <p>There hasn't been anything sold with a similar name recently - cannot provide market metrics. Try
                  renaming the product.</p>

              </div>
            </div>
            <%}%>
    </div>




    <div>
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%= post._id%>" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5"></li>
        <%= comments[i].createdBy%>: "<%= comments[i].comment%>" [<%= comments[i].createdAt.toString().slice(4,16)%>]
              <% if(post.user==user.id) {%>
                <form action="/comment/deleteComment/<%= post.id%>/<%= comments[i]._id%>?_method=DELETE" method="POST"
                  style="float: right; margin-top: -15px;">
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
                <% } %>
                  </li>

                  <% } %>
    </ul>



  </div>

  </div>
  </div>

  </div>
  </div>



  <%- include('partials/footer') -%>